@model MotorBike.Models.Repuesto

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Eliminar repuesto</h1>

<h3>¿Estas seguro que quieres eliminar : @Model.NombreRepuesto ?</h3>
<div>
    <h4>Repuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreRepuesto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreRepuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Precio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Precio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkCategoriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkCategoriaNavigation.IdCategoria)
        </dd>
    </dl>
    
    <form asp-action="Delete" class="mt-2">
        <input type="hidden" asp-for="IdRepuesto" />
        <input type="submit" value="Delete" class="btn btn-warning" />
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </form>
</div>
