@model MotorBike.Models.VentaXRepuesto

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Detalles de Venta por Repuesto #@Model.IdVentaXRepuesto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioManoObra)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioManoObra)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cantidad)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cantidad)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioUnitario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioUnitario)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Subtotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Subtotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PrecioFinal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PrecioFinal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkCategoriaNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkCategoriaNavigation.IdCategoria)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkClienteNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkClienteNavigation.IdCliente)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkMecanicoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkMecanicoNavigation.IdMecanico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkRepuestoNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkRepuestoNavigation.IdRepuesto)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FkServicioNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FkServicioNavigation.IdServicio)
        </dd>

    </dl>
</div>
<div class="mt-2">
    <a asp-action="Edit" asp-route-id="@Model?.IdVentaXRepuesto" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
</div>
