@model MotorBike.Models.Mecanico

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h4>Detalles de @Model.NombreMecanico</h4>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreMecanico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreMecanico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cedula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cedula)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoMecanico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TelefonoMecanico)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DireccionMecanico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DireccionMecanico)
        </dd>
    </dl>
</div>
<div class="mt-2">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.IdMecanico" class="btn btn-primary">Editar</a>
    }
    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
</div>