@model IEnumerable<MotorBike.Models.CompraXRepuesto>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="d-flex justify-content-between">
    <h3>Compras por repuesto</h3>

    <p>
        <a asp-action="Create" class="btn btn-primary">Crear Compra<br /> por repuesto</a>
    </p>
</div>


<div class="table-responsive">
    <table id="example" class="table table-bordered table-hover">
        <thead class=" bg-dark text-light text-center">
            <tr>
                <th>@Html.DisplayNameFor(model => model.IdCompraXRepuesto) </th>
                <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
                <th>@Html.DisplayNameFor(model => model.PrecioUnitario)</th>
                <th>@Html.DisplayNameFor(model => model.Subtotal)</th>
                <th>@Html.DisplayNameFor(model => model.PrecioFinal)</th>
                <th>@Html.DisplayNameFor(model => model.FkCategoria)</th>
                <th>@Html.DisplayNameFor(model => model.FkRepuesto)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="text-center">
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.IdCompraXRepuesto)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cantidad)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PrecioUnitario)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Subtotal)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.PrecioFinal)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FkCategoriaNavigation.NombreCategoria)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FkRepuestoNavigation.NombreRepuesto)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.IdCompraXRepuesto" class="btn btn-primary"><i class="fa-solid fa-pen-to-square"></i></a>
                        <a asp-action="Details" asp-route-id="@item.IdCompraXRepuesto" class="btn btn-warning "><i class="fa-solid fa-magnifying-glass"></i></a>
                        <a @* asp-action="Delete" asp-route-id="@item.IdCompraXRepuesto" *@ onclick="confirmarEli(@item.IdCompraXRepuesto)" class="btn btn-danger">
                            <i class="fa-solid fa-trash"></i>

                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@section Scripts{
    <script>
        // Estilos tablas
        $(document).ready(function () {
            $('#example').DataTable({
                pageLength: 5,
                lengthMenu: [[5, 10, 20, -1], [5, 10, 20, 'Todos']],
                scrollX: true,
                scrollY: false,
                autoWidth: false,
                "columnDefs": [
                    { "width": "10%", "targets": 0 },
                    { "width": "10%", "targets": 1 },
                    { "width": "10%", "targets": 2 },
                    { "width": "10%", "targets": 3 }
                ]

            });
        });
    </script>

    <script>
        function confirmarEli(id) {
            Swal.fire({
                title: '¿Estas seguro de eliminarlo?',
                text: "¡No podras reversar esta acción!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#FF0000',
                cancelButtonColor: '#808080',
                confirmButtonText: 'Si, Eliminarlo!',
            }).then((result) => {
                if (result.isConfirmed) {
                    Swal.fire(
                        'Eliminado!',
                        'El registro ha sido eliminado',
                        'success'
                    ).then(() => {
                        window.location = '/CompraXRepuestos/Delete/' + id
                    })
                }
            })
        }
    </script>
}