@model MotorBike.Models.Servicio

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h4>Detalles del Servicio : @Model.NombreServicio</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NombreServicio)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NombreServicio)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
    </dl>
</div>
<div class="mt-2">
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.IdServicio" class="btn btn-primary">Editar</a>
    }
    <a asp-action="Index" class="btn btn-danger">Cancelar</a>
</div>
